
<div>
    <h2>Bienvenue dans Junior Entreprise INSAT, <%= name %>!</h2>
    <p>Nous sommes ravis de vous compter parmi nous. Vous pouvez maintenant vous connecter à votre compte avec les identifiants suivants :</p>
    <p><strong>Email : <%= email %></strong></p>
    <p><strong>Mot de passe : <%= password %></strong></p>
    <p>Cordialement,</p>
</div>

