<div>
    <h2>Welcome to our website, <%= name %>!</h2>
    <p>We are thrilled to have you with us. You can now log in to your account using the following credentials:</p>
    <p><strong>Email: <%= email %></strong></p>
    <p><strong>Password: <%= password %></strong></p>
    <p>Best regards,</p>
</div>
