<div class="content">
    <p>Hello <%= name %>,</p>
    <p>We have received a request to reset your password. Please use the verification code below to reset your password:</p>
    <p><strong>Verification Code: <%= resetcode %></strong></p>
    <p>This code is valid for 1 hour.</p>
</div>
