<div class="content">
    <p>Bonjour <%= name %>,</p>
    <p>Nous avons reçu une demande de réinitialisation de votre mot de passe. Veuillez utiliser le code de vérification ci-dessous pour réinitialiser votre mot de passe :</p>
    <p><strong>Code de vérification : <%= resetcode %></strong></p>
    <p>Ce code est valide pendant 1 heure.</p>
</div>