<div>
    <h2>Good news from <%= podcast %>, <%= name %>!</h2>
    <p>New episode from <%= podcast%> , enjoy watching</p>
    <p><strong>Email: <%= email %></strong></p>
    <p>Best regards,</p>
</div>
