<div>
    <h2>Welcome to <%= podcast %>, <%= name %>!</h2>
    <p>You are now subscibed in <%= podcast%> , you will recieve all updates</p>
    <p><strong>Email: <%= email %></strong></p>
    <p>Best regards,</p>
</div>
